<!DOCTYPE HTML>
<html>

<head>
  <title>Solo</title>

  <style>
  	.gllpMap        { width: 500px; height: 250px; }
  </style>
</head>

<body>

<!-- 	<form>
		<input type="text" name="latitude" value="" />
		<input type="text" name="latitude" value="" />
		<button>Submit</button>
	</form> -->


	<fieldset class="gllpLatlonPicker">
		<input type="text" class="gllpSearchField">
		<input type="button" class="gllpSearchButton" value="search">
		<br/><br/>
		<div class="gllpMap">Google Maps</div>
		<br/>
		lat/lon:
			<input type="text" class="gllpLatitude" value="20"/>
			/
			<input type="text" class="gllpLongitude" value="20"/>
		zoom: <input type="text" class="gllpZoom" value="3"/>
		<input type="button" class="gllpUpdateButton" value="update map">
	</fieldset>

	<div class="content">
		Loading...
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script src="/js/jquery-gmaps-picker.js"></script>
	<script type="text/javascript">

		// CLIENT ID	6cb56ab8349f4f719e7865d0f6429946
		// CLIENT SECRET	b0413f9089a749cc858d3187b026487a
		// WEBSITE URL	https://www.balancedscale.com
		// REDIRECT URI	http://www.balancedscale.com/instagram
		
		$(document).ready(function(){
			
			$('.gllpLatlonPicker').on('location_changed', function(event, data) {
				getData();
			});

		});

		function getData() {
			console.log("hi");
			$.getJSON('/search', {
				lat: $('.gllpLatitude').val(),
				long: $('.gllpLongitude').val()
			}, render);

		}

		function render (json){	
			var template = _.template($("#pic-template").html());
			var html = template({posts:json});
			$(".content").html(html);
		}

	</script>

	<script id="pic-template" type="text/template">
	
		<% _.each(posts, function(post){ %>
			<img src="<%= post.images.low_resolution.url %>"/>
		<% }); %>

	</script>

</body>

</html>