
<% _.each(items, function(post, index){ %>
   
        <div class="thing">
      
			<img class="img-responsive"  src="<%= post.media %>"/>
			
			<div class="info">
				<p><%= post.text %></p>
				<p>
				<%= post.username %>  <br/ >
				<%= post.distance %> km (<%= post.feet %> ft) away <br />
				<time><%= post.timeago %></time> <br />
				<a href="<%= post.url %>">
				<% if(post.type == "instagram") { %>
					<i class="fa fa-instagram"></i>
				<% } else if(post.type == "twitter") { %>
					<i class="fa fa-twitter"></i>
				<% } %>
				View
				</a>
				</p>
			</div>
		</div>

<% }); %>